@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

html {
    font-family: Montserrat, sans-serif; 
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

.secret{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0)
}

@media (max-width: 768px) {
    .secret{
        transform: translateX(-100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
        filter: none;
    }
    .show{
        transform: translateX(0)
    }
}